/*
Grigoria Michail
EPL425-HM2
*/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* dots under */
  text-decoration: underline;
}
    
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: beige;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
 
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


a {
    color: #A4A400;
}

.quote1{ 
     font-size: 22pt;
     font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
     color: #A4A400; 
     background: #F0F0F0;
     text-align: center;
     text-decoration: underline;
     font-weight: bold;
    }

.quote2{
     font-size: 18pt;
     font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
     color: #A4A400; 
     background: #F0F0F0;
     text-align: left;
     text-decoration: underline;
}

.quote3{
     font-size: 11pt;
     font-family: Georgia, Geramond, serif;
     color: #404040; 
}

.quote4{
     font-size: 11pt;
     font-family: Georgia, Geramond, serif;
     background: #FFFFA8;
     margin-left:5em;
  margin-right:5em;
}

.quote5{
     font-size: 11pt;
     font-family: Georgia, Geramond, serif;
}